table {
    border-collapse: collapse;
    border-spacing: 0px;
}

.playBoard {
    position: relative;
    display: inline-block;
}

.square {
    height: 80px;
    width: 80px;
}

.moveSquare {
    height: 82px;
    width: 82px;
    background: #FFFF66;
    position: absolute;
}

.piece {
  height: 80px;
  width: 80px;
  border: 1px black solid;
  border-radius: 40px;
  position: absolute;
}