table {
    border-collapse: collapse;
    border-spacing: 0px;
}

.playBoard {
    position: relative;
    display: inline-block;
}

.brownSquare {
    height: 80px;
    width: 80px;
    background: #E66213;
}

.whiteSquare {
    height: 80px;
    width: 80px;
    background: #FBDAC6;
}

.moveSquare {
    height: 82px;
    width: 82px;
    background: #FFFF66;
    position: absolute;
}

.redPiece {
  height: 80px;
  width: 80px;
  background: red;
  border: 1px black solid;
  border-radius: 40px;
  position: absolute;
}

.whitePiece {
  height: 80px;
  width: 80px;
  background: white;
  border: 1px black solid;
  border-radius: 40px;
  position: absolute;
}